@import "../../../../../pages/_vars.scss";

.todoInfo{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
    padding: 0px 20px;
    border-radius: 3px;

    .filter{
        display: flex;
        list-style: none;
        gap: 20px;

        li{
            cursor: pointer;

        }
    }

    button{
        background-color: transparent;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        font-family: $Josefin-sans;
    }
}

.todoInfoLight{
    background-color: $very-light-gray;
    color: $dark-grayish-blue;

    .filter{
        li{
            &:hover{
                color: $bright-blue;
            }
        }
    }

    button{
        color: $dark-grayish-blue;
    }
}

.todoInfoDark{
    background-color: $very-dark-desaturated-blue;
    color: $light-grayish-blue;

    .filter{
        li{
            &:hover{
                color: $bright-blue;
            }
        }
    }

    button{
        color: $light-grayish-blue;
    }
}