@import "../../../../../pages/_vars.scss";

.ListWrapper{
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 3px;
}

.ListWrapperLight{
    background-color: $very-light-gray;
}

.ListWrapperDark{
    background-color: $very-dark-blue;
}